body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #206194;
  color: #e0e0e0;
}

header {
  background-color: #6dade0;
  color: #FAFAFA;  /* Updated color */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

section {
  background-color: #6dade0;
  padding: 20px;
  border: 1px solid #FAFAFA;  /* Updated color */
  height: 100%;
}

footer {
  background-color: #6dade0;
  color: #FAFAFA;  /* Updated color */
  padding: 10px;
  text-align: center;
}

.note {
  margin-bottom: 10px;
}

.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-number {
  font-size: 1.2em;
  margin-right: 10px;
}

.add-note, .delete-note {
  background-color: #6dade0;
  border: 1px solid #FAFAFA;  /* Updated color */
  padding: 5px 10px;
  cursor: pointer;
  color: #FAFAFA;  /* Updated color */
}

.delete-note {
  background-color: #206194;
  transition: background-color 0.3s;
}

.delete-note:hover {
  background-color: #6dade0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid #FAFAFA;  /* Updated color */
  text-align: center;
}

th {
  font-size: 0.2em;
}

td.today {
  background-color: #e6f3ff;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  border-bottom: 1px solid #FAFAFA;  /* Updated color */
  padding: 5px 0;
}

.button.submit:hover, 
.button.submit:focus {
    background: #206194;
    box-shadow: none;
}

.button.text {
    background: 0 0;
    color: #6dade0;
    cursor: pointer;
}

.button.text:hover {
    text-decoration: underline;
}

#rootGallery {
    overflow: hidden;
    background: #FAFAFA;  /* Updated color */
    border-top: 1px solid #e0e0e0;
}
