body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2E3B55;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

main {
  margin: 2em;
}

section {
  margin-bottom: 2em;
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

form {
  margin-bottom: 1em;
}

label, input, select, button {
  margin: 0.5em;
  display: block;
}

input, select, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div[id$="-results"] {
  padding: 1em;
  background-color: #f0f0f0;
  border-radius: 8px;
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For modern browsers */
  scrollbar-color: #888 #f0f0f0; /* Custom scrollbar colors */
}

/* Custom scrollbar for Webkit browsers */
div[id$="-results"]::-webkit-scrollbar {
  width: 10px;
}

div[id$="-results"]::-webkit-scrollbar-track {
  background: #f0f0f0;
}

div[id$="-results"]::-webkit-scrollbar-thumb {
  background: #888;
}

div[id$="-results"]::-webkit-scrollbar-thumb:hover {
  background: #555;
}
